body {
  font-size: 72px;
}

body {
  background-color: rgba(80,80,80,1);
}
button {
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 100px;
}
input[type=range] {
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  border: none;
  transform: rotate(-90deg);
  margin-top: 50%;
}